<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encode</title>
  </head>
  <body>
    <h1>Encode Message into Image</h1>
    <form
      action="{{ url_for('encode') }}"
      method="post"
      enctype="multipart/form-data">
      <label for="image">Select image:</label>
      <input type="file" name="image" id="image" required />
      <br />
      <label for="message">Message:</label>
      <textarea name="message" id="message" required></textarea>
      <br />
      <label for="key">Key:</label>
      <input type="text" name="key" id="key" required />
      <br />
      <input type="submit" value="Encode" />
    </form>
    <br />
    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
