<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HideInPixels</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      body {
        padding-top: 5rem;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .container {
        max-width: 600px;
        margin-top: auto;
        margin-bottom: auto;
      }
      .form-group {
        margin-bottom: 1.5rem;
      }
      footer {
        background-color: #f8f9fa;
        padding: 1rem 0;
        text-align: center;
        margin-top: auto;
      }
      .btn-lg {
        margin-bottom: 1rem;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{{ url_for('index') }}">HideInPixels App</a>
    </nav>
    <div class="container text-center">
      <h1 class="text-center">HideInPixels</h1>
      <div class="mt-4">
        <a href="{{ url_for('encode') }}" class="btn btn-primary btn-lg"
          >Encode Message</a
        >
        <a href="{{ url_for('decode') }}" class="btn btn-secondary btn-lg"
          >Decode Message</a
        >
      </div>
    </div>
    <footer>
      <p>
        &copy; 2024 HideInPixels. All rights reserved. 'This Project still under
        construction'
      </p>
      <h6>Created By Dhanushwaran A J <a href="mailto:ajdhanush.jvl@gmail.com">Send email</a></h6>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
